* {
  font-family: 'Roboto', 'Helvatica', sans-serif;
}

body {
  background-color: #fcfcfc;
}

.thin-font {
  font-weight: 300;
}

.space-v-small {
  margin: 4px 0px;
}

.space-v-medium {
  margin: 16px 0px;
}

.space-v-large {
  margin: 24px 0px;
}

textarea {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 7px;
  box-sizing: border-box;
}

.menu {
  margin: 0px;
  padding: 10px;
  background-color: #109ac6;
  font-size: 1.2rem;
  color: #fff;
}

textarea {
  height: 3rem;
  color: #666;
  padding: 12px 20px;
  background: #fff;
  box-shadow: none;
  border: 1px solid #eee;
  box-sizing: border-box;
}

menu {
  color: inherit;
}

.error {
  background-color: rgb(213, 26, 26);
  color: #fff;
  padding: 10px 20px;
}

.calculate-btn {
  background-color: #109ac6;
}

.result-box {
  text-align: center;
  padding: 5px 3px;
  width: 100px;
  font-size: 0.95em;
}

.desc-box {
  padding: 2px 3px;
}

.ratio-box {
  display: inline-block;
  margin-top: 5px;
  margin-left: 3px;
  padding: 4px 10px 5px;
  font-size: 1.2em;
}

.error-case-box {
  padding: 12px 3px;
  font-size: 1.2em;
}

.purple-box {
  background-color: rgb(99, 11, 153);
  color: #fff;
}
.cyan-box {
  background-color: rgb(10, 135, 175);
  color: #fff;
}

.green-box {
  background-color: rgb(84, 154, 13);
  color: #fff;
}

.yellow-box {
  background-color: rgb(247, 221, 19);
  color: #666;
}

.orange-box {
  background-color: rgb(251, 151, 23);
  color: #fff;
}

.red-box {
  background-color: rgb(220, 43, 43);
  color: #fff;
}

.color-explain-each {
  display: inline-block;
  margin-bottom: 2px;
}

#leaderboards-graph {
  width: 100%;
}
